# Build artefacts
build/
Build/
bin/
obj/
CMakeFiles/
CMakeCache.txt
*.sln
*.vcxproj*
.ipch/
x64/
x86/
Release/
Debug/
RelWithDebInfo/

# IDE/Editor
.vs/
.idea/
.vscode/
*.user
*.opensdf
*.sdf

# OS
Thumbs.db
.DS_Store
